<div id="comment_{{ item.getId() }}" style="margin: 0 0 0 20px;border: 1px solid grey;">
    <label>Автор: </label>
    <p > {{ item.getAuthorId() }} </p>
    <label> Дата: </label>
    <p id="timestamp">{{ item.getCreated() }} </p>
    <label>Комментарий: </label>
    <p id="message"> {{ item.getComment() }}</p>
    <div id="actions">
        {%  if item.getLevel() == 0 %}
            <button class="expand" data-comment-id="{{ item.getId() }}">expand</button>
        {% endif %}
        <button class="add" data-comment-id="{{ item.getId() }}">add</button>
        <button class="edit" data-comment-id="{{ item.getId() }}">edit</button>
        <button class="delete" data-comment-id="{{ item.getId() }}">delete</button>
    </div>
    <div id="children_{{ item.getId() }}">
    {%  if item.children|length > 0 %}
            {% include 'comment/list.twig' with {'comments': item.children} only %}
    {% endif %}
    </div>
</div>